body, navbar {
    font-family: 'Bitter', serif;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }


.navbar-brand {
    padding: 10px;
}
.logo-bar {
    margin: 100px auto 50px;
}
h2 {
    line-height: 150%;
}