<!DOCTYPE html>
<html style="text-align: center;">
<head>
    <title>Registration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script src="https://use.fontawesome.com/15ab8dce77.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='tr_logo.png') }}" alt="codecool"
                                                  width="30px" height="30px"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/"> <span class="glyphicon glyphicon-home"> Home</span></a></li>
                <li><a href="/registration_route">Registration</a></li>
                <li><a href="/info">Info</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/contact">Contact</a></li>

            </ul>
        </div>
    </div>
</nav>
<div class="container">

    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="container-fluid">

            <img src="{{ url_for('static', filename='logo-large.png') }}" class="center-block " height="80%" width="80%"
                 alt="Codecool">
            <br>


                    <h1>Find Us</h1>
  <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-desktop" aria-hidden="true"></i> http://www.codecool.hu</li>
                        <li class="list-group-item"><span class="glyphicon glyphicon-map-marker"></span> 1065 Budapest, Nagymező utca 44.</li>
                        <li class="list-group-item"><i class="fa fa-facebook-square" aria-hidden="true"></i> http://www.facebook.com/CodecoolOfficial/</li>
                        <li class="list-group-item"><span class="glyphicon glyphicon-phone"></span> +36 70 944-3402</li>
                        <li class="list-group-item"><span class="glyphicon glyphicon-envelope"></span> hello@codecool.com</li>
                    </ul>
                </div>
        </div>
    </div>


    <div class="col-sm-2"></div>

</body>


</html>
