<!DOCTYPE html>
<html>
    <head>
        <title>Main</title>
    </head>

    <body>
        <h1><img src="{{  url_for('static', filename='logo.png') }}" width="20%" height="30%" alt="Codecool"</h1>
            <p>Dear applicant,<br>
        <h2>You can register <a href="/registration_route">here</a> to became an awesome codecooler like him:</h2>
        <img src="{{  url_for('static', filename='handsome.JPG') }}" width="50%" height="60%" alt="handsome"</p>
        <p>(I'm sorry, but you can't be so handsome like him :/)</p>
    </body>
</html>