<!DOCTYPE html>
<html style="text-align: center;">
<head>
    <title>Welcome</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img class="center-block"
                                                  src="{{ url_for('static', filename='tr_logo.png') }}" alt="codecool"
                                                  width="30px" height="30px"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/"> <span class="glyphicon glyphicon-home"> Home</span></a></li>
                <li><a href="/registration_route">Registration</a></li>
                <li><a href="/info">Info</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if not logged_in %}
                    <li><a href="#"> <span class="glyphicon glyphicon-user"> Login</span></a></li>
                {% else %}
                    <li><i class="fa fa-user" aria-hidden="true"></i>Hello, {{ mentor.first_name, mentor.last_name }}!</i></li>
                    <li><a href="/"> <span class="glyphicon glyphicon-log-out"> Logout</span></a></li>
                {% endif %}
                <li><a href="/contact">Contact</a></li>

            </ul>
        </div>
    </div>
</nav>
<div class="container">

    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="container-fluid">

            <img src="{{ url_for('static', filename='logo-large.png') }}" class="center-block " height="80%" width="80%" alt="Codecool">
            <br>
            <h2>Dear applicant,</h2>
            <h2>You can register <button type="button" class="btn btn-link btn-lg"><a href="/registration_route">here</a></button> to became an awesome codecooler like him:</h2>
            <img src="{{ url_for('static', filename='handsome.JPG') }}" width="50%" height="60%" alt="handsome"</h2>
            <p>(I'm sorry, but you can't be so handsome like him :/)</p>
        </div>
    </div>

    <div class="col-sm-2"></div>

</div>
</body>
</html>