<!DOCTYPE html>
<html style="text-align: center;">
<head>
    <title>Info</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img class="center-block"
                                                  src="{{ url_for('static', filename='tr_logo.png') }}" alt="codecool"
                                                  width="30px" height="30px"></a>        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/"> <span class="glyphicon glyphicon-home"> Home</span></a></li>
                <li><a href="/registration_route">Registration</a></li>
                <li class="active"><a href="/info">Info</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if not logged_in %}
                    <li><a href="#"> <span class="glyphicon glyphicon-user"> Login</span></a></li>
                {% else %}
                    <li><i class="fa fa-user" aria-hidden="true"></i>Hello, {{ mentor.first_name, mentor.last_name }}!</i></li>
                    <li><a href="/"> <span class="glyphicon glyphicon-log-out"> Logout</span></a></li>
                {% endif %}
                <li><a href="/contact">Contact</a></li>

            </ul>
        </div>
    </div>
</nav>
<div class="container">

    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="container-fluid">
            <img src="{{ url_for('static', filename='logo-large.png') }}" class="center-block " height="80%" width="80%">

            <h1>About Us</h1><br><br>
            <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et fringilla turpis.
                Aenean a magna
                malesuada, venenatis orci at, rutrum ipsum. Maecenas euismod dui lectus. Mauris aliquet, tortor eu
                bibendum rhoncus, elit diam varius massa, iaculis semper sapien odio et velit. Vestibulum condimentum
                tempor arcu, a iaculis dui eleifend vel. Donec interdum interdum faucibus. Donec nec pulvinar magna, in
                suscipit tellus. Donec facilisis diam eu nulla imperdiet, sit amet pellentesque sapien aliquam. In
                feugiat rutrum lorem eu sollicitudin. Cum sociis natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Nulla facilisi.<br><br>

                Quisque ac neque mattis, feugiat sapien id, bibendum neque. Donec tellus libero, posuere non tortor in,
                volutpat vulputate lorem. Phasellus vitae nibh vel mauris sodales ornare ut ac nibh. In congue mauris
                vel magna semper tincidunt. Cras sit amet nibh sed erat posuere interdum pretium vitae arcu. Phasellus
                at tristique urna. Duis quis eros sodales, viverra justo vel, pharetra dui. Proin et tellus varius,
                malesuada tellus vitae, posuere sapien. Nulla placerat a elit eu sagittis. In sed purus ante. Etiam
                ullamcorper, nulla ac scelerisque varius, diam orci tempus arcu, vel mattis nulla elit quis libero.
                Mauris mollis mollis tellus sed tincidunt. Cum sociis natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Proin tincidunt suscipit elit quis euismod. Quisque metus nisi, blandit eu magna
                ac, hendrerit sollicitudin diam. Nullam est turpis, malesuada eu elit sit amet, efficitur aliquam
                nisi.<br><br>

                Quisque volutpat dictum dapibus. Vivamus elit augue, pellentesque sit amet orci quis, facilisis euismod
                odio. Morbi sed maximus nisl, eget feugiat elit. Proin mauris nisl, commodo non porta a, finibus id
                nisi. Nunc congue elit velit, eget pellentesque dui tempor id. Sed tristique dapibus venenatis. Nunc
                egestas vestibulum felis, vitae semper est dapibus fermentum. Sed vitae lorem tempus, fermentum eros
                quis, vestibulum est. Ut dictum a odio in sollicitudin.</p>
        </div>
    </div>

    <div class="col-sm-2"></div>

</body>
</html>